
  <h3>Filtrar</h3>
  <hr />

<ul class="list-group list-reset">
        <li routerLink=""
        routerLinkActive="active"       
        [routerLinkActiveOptions] ="{exact: true}"
        class="list-group-item">
        On Theathers
    </li>
    <li routerLink="toprated"       
        routerLinkActive="active" 
        class="list-group-item">
        Top Rated
    </li>
    <li routerLink="popular"
        routerLinkActive="active"
        class="list-group-item">
        Popular
    </li>
</ul>
